@import "variables";

body {
  background: url("../../img/wallpaper_400.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", "sans-serif";
  color: $grey-dark;
}

h1 {
  font-size: 3.5rem;

  a {
    text-decoration: none;
    color: $green-dark;

    &:hover,
    active,
    visited {
      color: $green-bg;
    }
  }

  @media (max-width: $laptop) {
    font-size: 2.5rem;
  }

  @media (max-width: $tablet) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  color: $grey-dark;
  margin: 2rem 0;

  a {
    text-decoration: none;
    color: $green-dark;

    &:hover,
    active,
    visited {
      color: $green-bg;
    }
  }

  @media (max-width: $laptop) {
    font-size: 2rem;
  }

  @media (max-width: $tablet) {
    font-size: 1.2rem;
  }
}

h3 {
  font-family: "Montserrat", "sans-serif";
  color: $green-dark;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 1rem 0;

  a {
    text-decoration: none;
    color: $green-dark;

    &:hover,
    active,
    visited {
      color: $green-bg;
    }
  }

  @media (max-width: $laptop) {
    font-size: 1.5rem;
  }

  @media (max-width: $tablet) {
    font-size: 1rem;
  }
}

h4 {
  font-family: "Montserrat", "sans-serif";
  color: $green-dark;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6;
  margin: 1rem 0;

  a {
    text-decoration: none;
    color: $green-dark;

    &:hover,
    active,
    visited {
      color: $green-bg;
    }
  }

  @media (max-width: $laptop) {
    font-size: 1.2rem;
  }

  @media (max-width: $tablet) {
    font-size: 1rem;
  }
}

h5 {
  font-family: "Montserrat", "sans-serif";
  color: $grey-md;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6;
  margin: 1rem 0;

  a {
    text-decoration: none;
    color: $green-dark;

    &:hover,
    active,
    visited {
      color: $green-bg;
    }
  }
  @media (max-width: $laptop) {
    font-size: 1rem;
  }

  @media (max-width: $tablet) {
    font-size: 1rem;
  }
}

ul {
  margin: 0 0 2rem 0;

  li {
    margin-left: 2rem;
    padding-left: 1rem;
  }
}
p,
span,
li {
  font-family: "Montserrat", "sans-serif";
  color: $grey-dark;
  font-size: 1.3rem;
  line-height: 1.5;
  list-style: initial;

  @media (max-width: $laptop) {
    font-size: 1rem;
  }

  @media (max-width: $tablet) {
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: $green-dark;

    &:hover,
    active,
    visited {
      color: $green-bg;
    }
  }
}

em {
  font-style: italic;
}

.right {
  @media (max-width: $laptop) {
    display: none;
  }
}

.ml-form-recaptcha {
  margin-bottom: 20px;
}
.ml-form-recaptcha.ml-error iframe {
  border: solid 1px #ff0000;
}
@media screen and (max-width: 480px) {
  .ml-form-recaptcha {
    width: 220px!important
  }
  .g-recaptcha {
    transform: scale(0.78);
    -webkit-transform: scale(0.78);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
