@import "variables";

.site-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .contents {
        width: 55%;
        @media (max-width: $laptopL) {
            width: 75%;
        } 

        @media (max-width: $laptop) {
            width: 80%;
        } 
        background-color: $green-bg;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left, .right {
            margin: 1.5rem 1.5rem 0.75rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            p, span {
                font-size: 1rem;
                color: $grey-light;
                line-height: 1.4;
            }
        }
    }
}