@import "variables";

.site-header{
    background: rgba(225, 225, 225, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index:100;

    .site-header-contents {
        min-width: 55%;
        h1 {
            margin: 1.6rem 0 0 1.6rem;
            line-height: 0.8;
        }
        p {
            margin: 0 0 1.6rem 1.6rem;
            color: $grey-md;
            font-weight:bold;
        }

        @media(max-width: $laptopL){
            min-width: 75%;

            h1 {
                margin: 1.4rem 0 0 1.4rem;
                line-height: 0.6;
            }
            p {
                margin: 0 0 1.4rem 1.4rem;
                color: $grey-md;
                font-weight:bold;
            }
        }

        @media(max-width: $laptop){
            min-width: 80%;

            h1 {
                margin: 1.2rem 0 0 1.2rem;
                line-height: 0.6;
            }
            p {
                margin: 0 0 1.2rem 1.2rem;
                color: $grey-md;
                font-weight:bold;
            }
        }

        @media(max-width: $tablet){
            min-width: 80%;

            h1 {
                margin: 0.8rem 0 0 0.8rem;
                line-height: 0.6;
            }
            p {
                margin: 0 0 0.8rem 0.8rem;
                color: $grey-md;
                font-weight:bold;
            }
        }


    }
   
}