@import "variables";

.global-nav {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
        line-height: 1;
        font-size:1rem;
        margin: 0.5rem;
        font-family: "Montserrat", "sans-serif";
        color: $grey-dark;
        font-weight:bold;
        
        &:hover {
            color: $green-bg;
        }
        &:active {
            color: $green-dark;
        }
    
    }

    @media (max-width: $laptop) {
        a {
            line-height: 0.6;
            font-size:1rem;
            margin: 0.2rem;
            font-family: "Montserrat", "sans-serif";
            color: $grey-dark;
            font-weight:bold;
            
            &:hover {
                color: $green-bg;
            }
            &:active {
                color: $green-dark;
            }
        
        }
      }

    @media (max-width: $tablet) {
        display: none;
      }
}