@use "variables";

.global-nav {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    line-height: 1;
    font-size: 1.3rem;
    margin: 0.5rem;
    font-family: "Montserrat", "sans-serif";
    color: variables.$grey-dark;
    font-weight: bold;

    &:hover {
      color: variables.$green-bg;
    }
    &:active {
      color: variables.$green-dark;
    }
  }

  @media (max-width: variables.$desktop) {
    
    a {
      line-height: 1;
      font-size: 1rem;
      margin: 0.3rem;
    }
  }
  @media(max-width: variables.$laptop-l){
    flex-direction: column;
  }
 
  @media (max-width: variables.$phone) {
    display: none;
  }
}

.mobile-menu {
  display: none;

  @media (max-width: variables.$phone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;

    button {
      background-color: transparent;
      outline: none;
      border: none;
    }

    i.fa.fa-bars, i.fa.fa-times {
      color: variables.$grey-dark;
      font-size: 2.5rem;

      &:hover {
        color: variables.$grey-md;
      }
    }
  }
}

.global-mobile-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  min-width: 80%;
  padding: 1rem 0;

  a {
    line-height: 0.8;
    font-size: 0.8rem;
    margin: 0.2rem;
    font-family: "Montserrat", "sans-serif";
    color: variables.$grey-dark;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: variables.$green-bg;
    }
    &:active {
      color: variables.$green-dark;
    }
  }

  @media (min-width: variables.$tablet) {
    display: none;
  }
}
