.postcard-wrapper {
    background-color:ghostwhite;
    border: 1.2rem solid ghostwhite;
    transform: rotate(5deg) translate(0px, -100px);
    max-width: 210px;
    img {
        width:100%;
    }
}

.postcard-message {
    transform: translate(0px, -100px);
    color: $green-dark;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1rem;
}