@import "variables";

.main-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .content-column {
        width: 55%;

        @media (max-width: $laptopL) {
            width: 75%;
        } 

        @media(max-width: $laptop){
            min-width: 80%;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $grey-light;
        border-left: 2px solid $grey-dark;
        border-right: 2px solid $grey-dark;
        
        .left {
            width: 75%;

            @media(max-width: $tablet){
                width: 100%;
            }
        }

        .right {
            width: 25%;
            div {
                margin: 3rem 1.5rem;
            }
        }
    }
}